body{
	margin: 0;
	width: 100%;
	padding: 0px;
}
h1{
	text-align: center;
}
.menu ul{
	background-color: black;
	list-style: none;
	overflow: hidden;
}
.menu ul li{
	display: inline;
	text-align: center;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	padding: 0px;
	margin: 0px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	width: 255px;
	height: 40px;
}
a:hover{
	background-color: #44d;
}
.imagem{
	text-align: center;
}
.imagem img{
	padding-left: 2%;
}