<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Layout_02</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/style_02.css">
  <link rel="stylesheet" type="text/css" href="css/style_03.css">
</head>
<body>
<header>
  <nav class="navbar navbar-dark bg-dark" id="responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-left">
          <button data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler btn btn-sm" id="btn-toggle">
            <img id="toggle-img" src="Img/toggle.png">
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="#" class="navbar-brand">
            <label><img class="logo" src="img/logo.svg" alt="Logo da pagina"></label>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="navbarSupportedContent" class="collapse navbar-collapse alinhamento">
            <ul class="nav navbar-nav">
              <li class="nav-item"><a href="">Home</a></li>
              <li class="nav-item"><a href="">Html5</a></li>
              <li class="nav-item"><a href="">Css3</a></li>
              <li class="nav-item"><a href="">Responsivo</a></li>
              <li class="nav-item"><a href="">Contato</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="row" id="no-responsive">
    <div class="box-logo">
      <img id="logo" src="img/logo.svg" alt="Logo">
    </div>
    <nav class="navbar">
      <ul>
        <div id="Menu">
          <a class="nav-item" href="">Home</a>
          <a class="nav-item" href="">Html5</a>
          <a class="nav-item" href="">Css3</a>
          <a class="nav-item" href="">Responsivo</a>
          <a class="nav-item" href="">Contato</a>
        </div>
      </ul> 
    </nav>
  </div> 
</header>
  <main>
    <div class="container-fluid">
      <div class="row">
          <div class="Texto">
            <div id="texto">
                Como criar um <strong>SITE RESPONSIVO</strong> com
                <strong>HTML</strong> e <strong>CSS3</strong>
              <p>
                Com este tutorial você verá como criar um site responsivo onde poderá
                ser bem visualizado em desktops, tablets e smartphones.
              </p>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="Cards">
            <div id="card">
              <div class="bodyCard-1">>
                <img src="img/COMPUTER.svg" alt="Cumputer iconsvg - Responsive design">
                <h2>Site Responsivo DESKTOP</h2>
              </div>
              <div class="bodyCard-2">
                <p>
                  Com este tutorial você verá e aprenderá, de maneira simples, como
                  criar um site responsivo, multivisualização de   dispositivos onde
                  poderá ser bem visualizado na maioria dos desktops, tablets e smartphones.
                </p>
              <div class="btn">
                <button class="btnCard">Ler mais</button>
              </div>
              </div>
            </div>
            <div id="card">
              <div class="bodyCard-1">
                  <img src="img/TABLET.svg" alt="Cumputer icon svg - Responsive design">
                  <h2>Site Responsivo TABLET</h2>
              </div>
              <div class="bodyCard-2">
                  <p>
                  Com este tutorial você verá e aprenderá, de maneira simples, como
                  criar um site responsivo, multivisualização de dispositivos onde
                  poderá ser bem visualizado na maioria dos desktops, tablets e
                  smartphones.
                  </p>
                  <div class="btn">
                    <button class="btnCard">Ler mais</button>
                  </div>
              </div>
            </div>
            <div id="card">
              <div class="bodyCard-1">
                  <img src="img/CELL.svg" alt="Cumputer icon svg - Responsive design">
                  <h2>Site Responsivo MOBILE</h2>
              </div>
              <div class="bodyCard-2">
                  <p>
                    Com este tutorial você verá e aprenderá, de maneira simples, como
                    criar um site responsivo, multivisualização de dispositivos onde
                    poderá ser bem visualizado na maioria dos desktops, tablets e
                    smartphones.
                  </p>
                  <div class="btn">
                    <button class="btnCard">Ler mais</button>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container-fluid">
      <div class="row"> 
        <div class="Footer">
          <div id="texto-2">  
            <b>Copyright © 2020 - Todos os Direitos Reservados á: <a href="">Lucas Jesus Candido</a></b>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>