/* =============x Não Responsivo x============ */
#responsive {display: none;}
#no-responsive {display: block;}
body{margin: 0; height: 0;}
.row{margin: 0}

/* Menu */
.box-logo{height: 100%;}
#logo{padding: 0% 29%; max-height: 250px;}
#Menu{text-align: center;}
.nav-item{padding: 3%; font-size: initial; color: black;}
a.nav-item:link{text-decoration: none;}
a.nav-item:hover{text-decoration: none;}
a.nav-item:visited{text-decoration: none;}
a.nav-item:active{color: yellow; font-weight: bold;}
/* =====*/

/* Meio */
.Texto{height: 200px; text-align: center;}
#texto{font-size: x-large;}
.Cards{margin: 0; height: auto; background-color: #071948; padding: 8px; display: grid; grid-template-columns: 1fr 1fr 1fr;}
#card{max-height: 100%;}
.bodyCard-1{height: 255px; width: 400px; padding: 5px 17%; background-color: #ffffff8c; text-align: center;}
.bodyCard-2{height: 220px; width: 400px; padding: 21px 30px; background-color: white; text-align: center; font-size: large;}
/* ==== */

/* Rodapé */
.Footer{width: 100%; text-align: center;}
/* ==== */
/* ========================================== */
