/* =============x Responsivo Tablet x============ */
@media screen and (max-width: 768px){
	*{margin-bottom: 0;}
	#responsive {display: none;}
	#no-responsive {display: block;}
	body{margin: 0; height: 0;}
	.row{margin: 0;}

	/* Menu */
	.box-logo{max-height: 250px;}
	#logo{height: 100%;}	
	#Menu{text-align: center;}
	.navbar{width: 980px;}
	.nav-item{padding: 3%; font-size: initial; color: black;}
	a.nav-item:link{text-decoration: none;}
	a.nav-item:hover{text-decoration: none;}
	a.nav-item:visited{text-decoration: none;}
	a.nav-item:active{color: yellow; font-weight: bold;}
/* =====*/
	
/* Meio */
	.Texto{height: 242px; text-align: center; margin-top: 25%; padding-left: 17%;}
	#texto{font-size: 27px; margin: -22% 0%; margin-left: 20%;}
	.Cards{width: 100%; position: relative; height: auto; background-color: #071948; padding: 5% 23%; padding-right: 3%; display: inline-block; list-style: none; left: 17%;}
	#card{max-height: 100%;}
	.bodyCard-1{height: 290px; width: 400px; padding: 4px 15%; background-color: #ffffff8c; text-align: center; margin-top: 5%;}
	.bodyCard-2{height: 220px; width: 400px; padding: 21px 30px; background-color: white; text-align: center; font-size: large;}
/* ==== */

/* Rodapé */
	.Footer{width: 100%; text-align: center; position: relative; margin: 0% 15%;}
	#texto2{font-size: 20px; margin-left: 20%;}

/* ==== */
}
/* ========================================== */