body{
	background-color: #C0C0C0;
}
.container{
	height: auto;
	background-color:white;
}
h1{
	color: black;
	text-transform: capitalize;
}
h2{
	text-transform:  capitalize;
}
#bold{
	font-weight: bold;
}
.footer{
    height: 50px;
    width: 1169px;
    margin-left: 98px;
    background-color: white;
}