<!DOCTYPE html>
<html>

<head>
	<title>Atividade 3</title>
	<link rel="stylesheet" type="text/css" href="css/estilo3.css">
    <meta charset="utf-8">
</head>
<body>
    
    <div class="container"> 
    
    <div class="Nav"> 
         Menu
     </div>
     
    <div class="header">
         Cabeçalho
     </div>
    
    <div class="section">
    	    Menu 1
     </div>
    
    <div class="section2">
        	Menu 2
    </div>
    
    <div class="section3">
         Menu 3
    </div>
</div>

</body>
</html>
